*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.box-qr-con{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) ;
    text-align: center;
}

.box-qr-con img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.box-qr-con h2{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin: 15px 0;
    font-weight: 700;
    line-height: 1.2;
}

.box-qr-con p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    margin: 0;
    padding: 0 10px 15px;
    line-height: 1.5;
    font-weight: 400;
}


/* Responsive Design */
@media(min-width: 1440px){
    .box-qr-con{
        width: 350px;
    }
}

@media(max-width: 375px){
    .box-qr-con{
        width: 280px;
        padding: 12px;
    }

    .box-qr-con h2{
        font-size: 18px;
    }

    .box-qr-con p {
        font-size: 14px;
    }
}